# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.userprefs
.vs/
.idea/
TestProjects/Unity2020Compat/compile_check.log
